
<!---  use
            render 'calendar'
       inside ruby tags to display the calendar on any page
-->

<!-- TODO: implement filtering (by month, week, day) to call Event.events_between(...) appropriatly. Ask Team Biber (Daniel Stolpe, Meike Baumgärtner) in case of questions concerning Event.events_between(...) and recurring events
Event.events_between(..) returns a collection of EventOccurrences. To access the "real" Event call "event" on an EventOccurrence instance
-->

<div id="calendar"></div>

<script>
	$(document).ready(function(){
		$("#calendar").fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			theme: false,
      events: function(start, end, timezone, callback) {
        $.get('/events_between', {
          start: start.toISOString(),
          end: end.toISOString()
        }).then(function(events) {
          callback(events);
        });
      },
      eventClick: function(calEvent, jsEvent, view){
          var route = '<%= show_occurrence_path %>' + '?eventid=' + calEvent.event_id + '&starting=' + encodeURIComponent(calEvent.start.toISOString()) + '&ending=' + encodeURIComponent(calEvent.end.toISOString())

          window.open(route, "_self")
      }
		});
	});
</script>