<div class="page-header">
	<h1><%= t('dashboard.title') %></h1>
</div>
<div class="row">
	<div class="col-md-9">
		<%= render "event_overview" %>
	</div>
	<div class="col-md-3">
		<%= render partial: 'tasks_list', locals: {my_accepted_tasks: @my_accepted_tasks, my_pending_tasks: @my_pending_tasks, my_accepted_events: @my_accepted_events, my_pending_events: @my_pending_events} %>
	</div>
</div>
