<div class="page-header">
	<h1><%= t('dashboard.title') %></h1>
</div>
<%= render "event_overview" %>
<%= render partial: 'tasks_list', locals: {my_tasks: @my_tasks, my_events: @my_events, event_ids: @event_ids} %>
