<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @user.email %></h1>
<p>
  Your event <%= @event.name %> has been declined. <br />
</p>
<p>Thanks and have a good day.</p>
</body>
</html>