<div class="comment">
  <div class="commentAuthor">
    <%= User.where(id: comment.user_id).first.email %>
  </div>
  <div class="commentContent">
    <%= comment.content %>
  </div>
  <div class="commentTimestamp">
    <%= comment.created_at %>
  </div>
</div>