<div class="commentContainer">
  <div class="commentTitle">
    <%= comment.author %>
  </div>
  <div class="commentContent">
    <%= comment.context %>
  </div>
  <div class="commentTimestamp">
    <%= comment.timestamp %>
  </div>
</div>