<% model_class = Task %>
<% page_header = t '.title', :default => [:'helpers.titles.edit'], :model => model_class.model_name.human.titleize %>
<% title page_header %>
<div class="page-header">
  <h1><%= page_header %></h1>
</div>

	<% @event = Event.where(id: @task.event_id).first %>
<div id="task-form-edit" data-task-id="<%= @task.id %>">	
	<%= render partial: 'form', :locals => {event: @event} %>
</div>