<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= render :partial => 'form', :locals => {:for_event_template => @for_event_template} %>

<script>
	var viewModel = new TaskEditViewModel(true, <%= @task.id %>);
	ko.applyBindings(viewModel);
    $.getJSON('<%= attachments_path(task_id: @task.id) %>', function(attachments) {
    	viewModel.attachments(attachments);
    });
</script>