<%- model_class = Event -%>
<% page_header = t '.title', :default => [:'helpers.titles.suggest'], :model => model_class.model_name.human.titleize %>
<% title page_header %>
<div class="page-header">
  <h1><%= page_header %></h1>
</div>
<%= render :partial => 'event_suggestions/form', locals: {model_class: model_class} %>