<%- model_class = Equipment -%>
<% page_header = t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %>
<% title page_header %>
<div class="page-header">
  <h1><%= page_header %></h1>
</div>
<%= render :partial => 'form' %>
