<table class="table table-striped">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>