
<!---  use
            render 'calendar'
       inside ruby tags to display the calendar on any page
-->

<% @calevents = Event.all %>

<div id="calendar"></div>

<script>
	$(document).ready(function(){
		$("#calendar").fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			events: [
                <% @calevents.each do |each| %>
					
					<% if each.user_id === current_user.id %>
					{
						title: '<%= each.name %>',
						start: '<%= each.starts_at %>'
                    
                    	<% unless each.approved? %>
                        	, color: 'red'
                    	<% end %>
					
					},
					<% end %>
                <% end %>
			],
			theme: false
		});
	});
</script>