<%for room in rooms%>
    <%= room.name %>
    <div class="control-group">
        <table class="table table-column">
            <thead>
            <tr>
              <th>A</th>
              <th>B</th>
              <th>C</th>
            </tr>
            </thead>
        <tbody>
         <% equipment.each do |category, count| %>
            <tr>
                <td><%= category%></td>
                <% existing_count = 0 %>
                <% if equipment.has_key?(category) %>
                  <% existing_count = equipment[category] %>
                <% end %>
                <td><%= number_field_tag category+'_equipment_count', existing_count, in: 0.0..count %></td>
                <td><%= count %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
  <br>  
<%end%>

