<div class="comment">
  <div class="commentAuthor">
    <% @user = User.where(id: comment.user_id).first %>
    <%= @user.username + " (" + @user.email + ")" %>

  </div>
  <p class="commentContent">
    <%= comment.content %>
  </p>
  <div class="commentTimestamp">
    <%= comment.created_at %>
  </div>
</div>