<%= form_tag( { :action => "create_comment", :controller => "events", user_id: @current_user.id, event_id: @event.id}, { :method => :post }) do %>
  <%= text_area_tag "commentContent", "",  rows: 5, cols: 80, maxlength: 255 %>
  <div class="clearfix"></div>
  	<%= submit_tag "Kommentieren", class: "btn btn-primary" %>  
	</div>
<% end %>