
<div id="favorite-button">

	<% if @favorite.empty? %>
	  <%= link_to t('.toogle', :default => t("helpers.links.add_favorite")),show_toggle_favorite_from_event_path(@event), remote: true, :class => 'btn btn-xs btn-primary' %>
	<% else %>
	  <%= link_to t('.toogle', :default => t("helpers.links.remove_favorite")),show_toggle_favorite_from_event_path(@event), remote: true, :class => 'btn btn-xs btn-danger' %>
	<% end %> 
</div>