<%= form_tag({action: 'submit'}, {remote: true, :'data-type' => 'json', id: "permissionsForm", :class => "form-horizontal"}) do |f| %>
  <div class="control-group">
    <div class="controls">
    
      <% permitted_entities_collection = @users.map {|x| [x.username, "User:#{x.id}"]} + @groups.map {|x| [x.name, "Group:#{x.id}"]} %> 

      <%= collection_select nil, :permitted_entity, permitted_entities_collection, :last, :first , {}, {class: 'form-control', id: 'user', name: 'user'} %>
      
      <div id="permissionDiv"></div>
      <script>
        $(function() {
          $('#user').ready(updateUserPermissions);
          $(document).on('ajax:success', '#permissionsForm', function(event, data) {
            $('#flash_messages').bootstrap_flash(data);
          });
        })
      </script>

      <%= submit_tag nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              permissions_path, :class => 'btn btn-default' %>

    </div>
  </div>
  <br></br>
  

<% end %>