<%= form_tag({action: 'submit'}, {:class => "form-horizontal"}) do |f| %>
  <div class="control-group">
    <div class="controls">
    <%= select_tag 'user', options_from_collection_for_select(@users, "id", "username"), {class: 'form-control'} %>

    <div id="permissionDiv"></div>
    <script>
      $(function() {
        $('#user').ready(updateUserPermissions);
      })
    </script>

    <%= submit_tag nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            permissions_path, :class => 'btn btn-default' %>

    </div>
  </div>
  <br></br>
  

<% end %>