.task-placeholder {
	height: 1.5em;
	line-height: 1.5em;
}

.feed-container {
	position: relative;
	margin-bottom: 30px;
}

.feed:before {
	background-color: #ddd;
	bottom: 0;
	content: "";
	display: block;
	left: 8px;
	position: absolute;
	top: 0;
	width: 2px;
	z-index: -1;
}

.feed-entry-container {
	position: relative;
	margin-left: 10px;
}

.feed-entry-container:last-of-type {
	
}

.feed-entry {
	border-bottom: 2px solid #ddd;
	padding: 10px 15px 10px 0;
}

.feed-entry-container .glyphicon {
	background-color: #ddd;
	border-radius: 50%;
	float: left;
	margin: -3px 15px 0 -12px;
	padding: 5px;
}

.feed-entry-container .odd {
	background-color: #f9f9f9;
}

.feed-entry-container .even {
	
}

.event-page-header h1, .event-page-header h2, .event-page-header h3 {
	margin: 5px;
}

.event-page-header {
	margin: 1em 0;
}

.event-section-divider {
	border-bottom: 2px solid #aaa;
}

.event-description {
	font-size: 1.2em;
	text-align: justify;
	margin-bottom: 1em;
}

.event-view-section {
	clear: both;
	margin-bottom: 3em;
}

.event-view-footer {
	clear: both;
}

.event-favorite-icon-checked, .event-favorite-icon-checked:hover, .event-favorite-icon-checked:focus, .event-favorite-icon-checked:visited, .event-favorite-icon-checked:active {
	color: #F8A902;
}

.event-favorite-icon-unchecked, .event-favorite-icon-unchecked:hover, .event-favorite-icon-unchecked:focus, .event-favorite-icon-unchecked:visited, .event-favorite-icon-unchecked:active {
	color: #DDD;
}

.event-favorite-icon {
	margin-left: 15px;
}

.event-no-tasks {
	margin-left: 3em;
}

.glyphicon-star {
	top: 5px;
}

.event-overview-table {
	float: right;
	width: 40%;
	margin-left: 3em;
}