.task-placeholder {
	height: 1.5em;
	line-height: 1.5em;
}

.activity-log-container {
	position: relative;
}

.activity-log:before {
	background-color: #ddd;
    bottom: 0;
    content: "";
    display: block;
    left: 8px;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: -1;
}

.activity-container {
	position: relative;
	margin-left: 10px;
}

.activity-container:last-of-type {
	
}

.activity {
	border-bottom: 2px solid #ddd;
	padding: 10px 15px 10px 0;
}

.activity-container .glyphicon {
	background-color: #ddd;
    border-radius: 50%;
    float: left;
    margin: -3px 15px 0 -12px;
    padding: 5px;
}

.activity-container .odd {
	background-color: #f9f9f9;
}

.activity-container .even {
	
}