<%- model_class = Room -%>
<% page_header = t '.title', :event => Event.model_name.human.pluralize.titleize, :room => @room.name %>
<% title page_header %>
<div class="page-header">
  <h1><%= page_header %></h1>
</div>

<%= link_to room_path(@room), :title => t("helpers.links.back"), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>    
<% end %>

<%= render :partial => 'upcoming_events' %>