 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 *= require fullcalendar.print
 *= require bootstrap-datetimepicker
 *= require recurring_select
 *= require jquery-ui/autocomplete
 */

footer {
    margin-top: 20px;
}

#hpi_logo {
    display: inline-block;
    height:32px;
    width:32px;
    z-index: 99999999;
}

.navbar-brand {
    line-height: 32px;
    padding-top: 8px;
}

a, a:hover {
    color: #b1063a;
}

.navbar-default, .panel-heading {
    background-color: #5a6065 !important;
}

input.task-done-checkbox {
    color: #b1063a;
    background-color: #b1063a;
}

.task-list-list li a {
    color: black;
}

.navbar-nav a, .navbar-brand, .panel-heading {
    color: whitesmoke !important;
}

.navbar-nav .dropdown-menu {
    background-color: #8a9095 !important;
	color: white !important;
}

li.dropdown.open a {
	background-color: #8a9095 !important;
	color: white !important;
}

.ui-autocomplete-loading {
    background: white url("/assets/ui-anim_basic_16x16.gif") right center no-repeat;
  }
