.tasks-pending-panel-body {
	border-top: 1px solid #ddd;
}

.task-list-event {
	font-weight: bold;
}

.task-list-list {
	margin-left: 2em;
}

.pending-tasks-table {
	margin-left: 2em;
}

.pending-tasks-table td {
	padding: 5px;
}

.hidden-link {
	color: #333;
}

.hidden-link:hover,  .hidden-link:focus{
	color: #333;
}